*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border: 1px dashed red;
}

a{
    text-decoration: none;
    display: inline-block;
}

li{
    list-style: none;
}

i{
    padding-right: .2rem;
}

.container-l{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-width: 300px;
    border: 1px dashed violet;
}

.container-m{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    min-width: 200px;
    border: 1px dashed brown;
}

.row{
    display: flex;
    border: 1px dashed blue;
}

.col{
    min-height: 150px;
    border: 1px dashed green;
    flex-grow: 1;
}

.col-l{
    flex-basis: 70%;
}

.col-s{
    flex-basis: 30%;
}

.col-33{
    flex-basis: calc(100% / 3);
}

.gap-2{
    gap: 2.5rem;
}

.d-flex{
    display: flex;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: .7rem 1rem;
    font-size: .9rem;
}

.wrap{
    flex-wrap: wrap;
}

/* header-nav */
header .navbar{
    justify-content: space-between;
    border: 1px dashed black;
    align-items: center;
    padding: 1.5rem .5rem; 
}

.navbar .menu .menu-items a{
    padding: .5rem 1rem;
    font-size: 1rem;
    color: black;
}

.navbar .menu .menu-items a.button{
    color: white;
}

.navbar .menu ul{
    align-items: center;
}

/* section jumbotron */

section.bg-jumbotron{
    background-color: #B4D0E7;
    margin-top: 95px;
}

.bg-jumbotron .container-l{
    position: relative;
    top: 115px;
}

.bg-jumbotron .jumbotron-title{
    font-size: 4.5rem;
    padding-bottom: 2rem;
}

.bg-jumbotron .jumbo-img{
    width: 100%;
}

.bg-jumbotron p{
    line-height: 22px;
    padding-bottom: 1.3rem;
}

.bg-jumbotron .button{
    margin-bottom: 1.3rem;
}

.bg-jumbotron .cancel{
    padding-bottom: 4.5rem;
}

/* section plane */
section.plane{
    padding-top: 7.5rem;
}

.plane .container-m .row.gap-2{
    padding-bottom: 3rem;
}

.plane .plane-title{
    font-size: 3rem;
    padding-bottom: 2.5rem;
}

.plane .plane-input{
    display: flex;
    padding-bottom: 2rem;
}

.card{
    border: 1px solid black;
    height: 100%;
}

.card .card-content{
    padding: 2rem;
}

.card .card-name{
    padding-top: .7rem;
    padding-bottom: .7rem;
    text-align: center;
    font-size: .9rem;
    border-bottom: 1px solid black;
}

.card .card-title{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.card .card-price{
    font-weight: bold;
    font-size: .9rem;
    padding-bottom: 1rem;
}

.card .month{
    color: #A9A19C;
    padding-bottom: 2.5rem;
}

.card .card-list{
    font-size: .9rem;
    padding-bottom: 2rem;
}

.card .card-list li{
    padding-bottom: 1rem;
}

.card .button{
    display: block;
    text-align: center;
    margin-bottom: 1.7rem;
}

.card .card-buy{
    font-size: .9rem;
    padding-bottom: 1.7rem;
}

.card .card-buy a{
    text-decoration: underline;
    color: #87BBFD;
}

.card .separator{
    border-bottom: 1px solid #D7D7DA;
    margin-bottom: 1.7rem;
    width: 25%;
}

.card .card-second-title{
    padding-bottom: 1.7rem;
}

.card .row .card-paragraph{
    font-size: .9rem;
    padding-top: 2rem;
}

.footer{
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

